/* Style général du site */

html,body{
    height: 100px;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #008080; /* Couleur claire pour contraster avec le logo */
    display: flex;
    flex-direction: column;
   /*  justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
} */



header {
    background-color: #000080;
    padding: 15px;
    top: 0;
    z-index: 1000;
   display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
   
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Style de base pour le logo */
.logo {
    width: 120px;
    max-width: 100%;
    margin-left: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out; /* Ajoute une transition fluide */
    margin-top: 10px;
}

.logo-container{
    flex: 1;
    margin-right: 20px;
}

/* Effet hover pour le logo */
.logo:hover {
    transform: scale(1.1); /* Agrandit légèrement le logo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre légère */
    filter: brightness(1.2); /* Augmente la luminosité du logo */
}

nav ul {
    list-style: none; /* Retire les puces de la liste */
    padding: 0;
    margin: 0;
    display: flex; /* Les éléments seront alignés horizontalement */
    margin-right: 100px;
    margin-top: 5px;
}

nav ul li {
  
    margin-top: 30px;
    margin-right: 80px; /* Ajoute un espace de 20px entre les éléments */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li:last-child {
    margin-right: 0; /* Supprime la marge droite pour le dernier élément */
}

nav ul li a.active, nav ul li a:hover {
    border-bottom: 3px solid red;
    padding: 0.5px;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 768px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;

    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        margin-top: -10px;
    }

    nav ul li a {
        font-size: 20px;
        color: #fff;
        margin-top: -50px;
    }

    #check:checked ~ ul {
        left: 0;
    }
}
}



.contact-container {
    background-color: #006666 ; /* Bleu foncé du logo */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    transition: transform 0.3s;
}

.contact-container:hover {
    transform: scale(1.02); /* Effet d'agrandissement au survol */
}

h1 {
    font-size: 2em;
    color: #ffffff; /* Texte blanc pour contraster */
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Info de contact */
.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.info-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    color: #ffffff; /* Texte blanc pour les informations */
    transition: transform 0.3s ease;
}

.info-item i {
    font-size: 22px;
    margin-bottom: 10px;
    color: #FF4136; /* Rouge vif pour les icônes, similaire à la couleur du logo */
}

.info-item p {
    margin: 0;
    font-weight: bold;
}

/* Effet au survol pour les items de contact */
.info-item:hover {
    transform: translateY(-5px);
}

/* Style des champs de formulaire */
.contact-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff; /* Champs en blanc pour contraster avec le fond */
    color: #001f3f;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease, border 0.3s ease;
    font-family: inherit;
    font-size: 15px;
}

/* Effet focus sur les champs */
.contact-form input:focus, 
.contact-form textarea:focus {
    border: 1px solid#28a745; /* Bordure rouge vif pour le focus */
    box-shadow: 0 0 5px #28a745;
    outline: none;
}

/* Bouton stylisé */
.contact-form button {
    background-color: #28a745; /* Rouge vif pour le bouton */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(255, 65, 54, 0.3);
}

.contact-form button:hover {
    background-color: #28a745; /* Un rouge légèrement plus foncé au survol */
   
}

/* Icône chatbot en bas à droite */
.bottom-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #FF4136; /* Fond rouge pour le chatbot */
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.bottom-icon:hover {
    transform: scale(1.1); /* Effet de zoom sur le chatbot */
}

.bottom-icon img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.bottom-icon span {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

footer {
    background-color:#000080;
    padding: 20px;
    color: white;
    text-align: center;
}

.footer-content h1 {
    color: red;
    font-size: 36px;
}

.footer-content p {
    font-size: 18px;
    margin: 5px 0;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.social-icons a {
    display: inline-block;
    margin: 10px 5px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.footer-nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-nav p {
    margin-left: 80px;
    color:#fff;
    font-size: 15px;

}

.footer-nav nav a {
    color: #fff;
    margin-right: 50px;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav nav a:hover {
    text-decoration: none;
    color:red;
    font-style: bold;
}

/* responsive Design */

/* Smartphones (portrait and landscape) */
@media (max-width: 600px) {
    .logo {
        width: 100px;
    }

    nav ul {
        flex-direction: column;
        margin-right: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    .activities-grid {
        flex-direction: column;
        align-items: center;
    }

    .activity {
        width: 100%;
        margin-bottom: 20px;
    }

    .stats {
        flex-direction: column;
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-nav p {
        margin-left: 0;
    }
}

/* Tablets (portrait and landscape) */
@media (min-width: 601px) and (max-width: 768px) {
    .logo {
        width: 120px;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .activities-grid {
        flex-wrap: wrap;
    }

    .activity {
        width: 45%;
        margin-bottom: 20px;
    }

    .stats {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Desktops, Laptops (wide screens) */
@media (min-width: 769px) and (max-width: 1024px) {
    .activities-grid {
        justify-content: space-between;
    }

    .activity {
        width: 30%;
    }

    .stats {
        justify-content: space-between;
    }

    footer .footer-nav {
        flex-direction: row;
    }
}
